{{>string-results-subheader-title}}

<form class="xloc-string-search" action="#" method="post">
    <div class="basic">
        <div class="row expanded">
            <div class="xloc-string-search-section columns">
                <h6>Search:</h6>

                <div class="row expanded collapse align-middle search-block">
                    <div class="column">
                        <input type="text" class="key-search" placeholder="Enter Your Keywords">
                    </div>
                    <div class="column shrink">
                        <input type="submit" value="&#xe800;" class="fontello-input" style="font-family: fontello;">
                    </div>
                </div>
            </div>
            <div class="xloc-string-search-section columns">
                <div class="radio row medium-unstack collapse align-justify">
                    <div class="columns">
                        <label class="title-resource" for="resource_id">
                            <input type="radio" name="resource_id" id="resource_id" value="Resource ID">
                            Resource ID
                        </label>
                    </div>
                    <div class="columns">
                        <label class="title-source" for="source">
                            <input type="radio" name="resource_id" id="source" value="Source">
                            Source
                        </label>
                    </div>
                </div>
            </div>
            <div class="xloc-string-search-section columns collapse">
                <h6>Order By:</h6>
                <select name="order_by" id="order_by">
                    <option value="Resource ID">Resource ID</option>
                    <option value="Resource ID">Resource ID</option>
                    <option value="Resource ID">Resource ID</option>
                </select>
            </div>
            <div class="xloc-string-search-section adding-border columns">
                <h6>Source File:</h6>
                <select name="source_file" id="source_file">
                    <option value="Resource ID">Source File</option>
                    <option value="Resource ID">Source File</option>
                    <option value="Resource ID">Source File</option>
                </select>
            </div>
        </div>
        <div class=" row expanded align-center align-middle">
            <a href="#" class="button">Advanced Search Settings</a>
            <input type="submit" class="button" value="Apply Search Settings">
        </div>
    </div>


    <div class="advanced">

        <div class="row expanded">
            <div class="xloc-string-search-section columns">
                <label for="search_term" class="bold">
                    Search:
                    <input type="text" name="search_term" id="search_term" placeholder="Enter Your Search">
                </label>

                <div class="radio search-options row collapse expanded align-justify">
                    <div class="columns">

                        <label for="advanced_search_type_resource" class="bold">
                            <input type="radio" name="advanced_search_type" value="resource"
                                   id="advanced_search_type_resource">
                            <span>
                            Resource ID
                            </span>
                        </label>
                    </div>
                    <div class="columns">

                        <label for="advanced_search_type_source" class="bold">
                            <input type="radio" name="advanced_search_type" value="source"
                                   id="advanced_search_type_source">
                            Source
                        </label>
                    </div>

                </div>

                <select name="advanced_contains" id="advanced_contains">
                    <option value="contains">Contains</option>
                </select>
            </div>

            <div class="xloc-string-search-section columns">

                <label for="advanced_order_by" class="bold">
                    Order By:
                    <select name="advanced_order_by" id="advanced_order_by">
                        <option value="resource">Resource ID</option>
                    </select>
                </label>

                <label for="advanced_result_count" class="bold">
                    Result Count:
                    <select name="advanced_result_count" id="advanced_result_count">
                        <option value="25">25</option>
                    </select>
                </label>

            </div>

            <div class="xloc-string-search-section columns">

                <label for="advanced_source_file" class="bold">
                    Source File:
                    <select name="advanced_source_file" id="advanced_source_file">
                        <option value="all">All</option>
                    </select>
                </label>

                <label for="advanced_group" class="bold">
                    Group:
                    <select name="advanced_group" id="advanced_group">
                        <option value="all">All</option>
                    </select>
                </label>

            </div>

            <div class="xloc-string-search-section columns checkbox-list shrink">
                <label class="header">Additional Search Fields:</label>

                <label for="advanced_additional_search_fields">
                    <input type="checkbox" value="string_notes" name="advanced_additional_search_fields"
                           id="advanced_additional_search_fields" class="box-info">
                    String Notes
                </label>
            </div>


            <div class="xloc-string-search-section checkbox-list columns shrink">
                <label class="header">Filters:</label>

                <label for="advanced_filters_priority">
                    <input type="checkbox" value="string_notes" name="advanced_filters_priority"
                           id="advanced_filters_priority" class="box-info">
                    Priority
                </label>

                <label for="advanced_filters_case_sensitive">
                    <input type="checkbox" value="string_notes" name="advanced_filters_case_sensitive"
                           id="advanced_filters_case_sensitive" class="box-info">
                    Case Sensitive
                </label>

                <label for="advanced_filters_locked_strings">
                    <input type="checkbox" value="string_notes" name="advanced_filters_locked_strings"
                           id="advanced_filters_locked_strings" class="box-info">
                    Locked Strings
                </label>

                <label for="advanced_filters_modified_since">
                    <input type="checkbox" value="string_notes" name="advanced_filters_modified_since"
                           id="advanced_filters_modified_since" class="box-info">
                    Modified Since
                </label>
            </div>


            <div class="xloc-string-search-section columns checkbox-list shrink">
                <label class="header">Reset Columns:</label>

                <label for="advanced_reset_columns">
                    <input type="checkbox" value="string_notes" name="advanced_reset_columns"
                           id="advanced_reset_columns" class="box-info">
                    Source Modified Date
                </label>

                <label for="advanced_reset_columns">
                    <input type="checkbox" value="string_notes" name="advanced_reset_columns"
                           id="advanced_reset_columns" class="box-info">
                    Priority
                </label>

                <label for="advanced_reset_columns">
                    <input type="checkbox" value="string_notes" name="advanced_reset_columns"
                           id="advanced_reset_columns" class="box-info">
                    Resource Number
                </label>

                <label for="advanced_reset_columns">
                    <input type="checkbox" value="string_notes" name="advanced_reset_columns"
                           id="advanced_reset_columns" class="box-info">
                    File
                </label>

                <label for="advanced_reset_columns">
                    <input type="checkbox" value="string_notes" name="advanced_reset_columns"
                           id="advanced_reset_columns" class="box-info">
                    String Notes
                </label>
            </div>


        </div>

        <div class="row expanded align-center align-middle">
            <a href="#" class="button">Apply Filters</a>
        </div>
    </div>

</form>
