<div class="column">
    <div class="xloc-string-results-header align-justify align-middle row expanded">
        <div class="title medium-4 columns">
            <h6>String Results</h6>
        </div>

        {{>pagination}}

    </div>
</div>