
.icon-search:before { content: '\e800'; } /* '' */
.icon-lock-closed:before { content: '\e801'; } /* '' */
.icon-dd-indicator:before { content: '\e805'; } /* '' */
.icon-drowdown:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-profile:before { content: '\e809'; } /* '' */
.icon-xloc-logo:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */