.answer {
  border-bottom: 1px solid $dark-gray;
  padding: 0;
  margin: 4px 0 18px;
  input[type=text] {
    border: none;
    box-shadow: none;
    margin: 0;
    width: 100%;
  }
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}