.xloc-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > .row {
    width: 100%;
  }

  .xloc-header, .xloc-subheader {
    flex: 0 0 auto;
  }

  .xloc-subheader {

    @include breakpoint(small down){
      display: none !important;
    }
  }

  .xloc-content-container {
    flex: 1 1 auto;
  }


}

.xloc-content-container {

  flex-wrap: nowrap;
  flex-direction: column;

  & > .xloc-sidebar {
    flex: 0 0 auto;

    @include breakpoint(small down){
      display: none;
    }
  }

  & > .xloc-page-content {
    flex: 1 1 auto;

    .row {
      margin: 0 !important;
    }
  }

  @include breakpoint(xlarge up){
    flex-direction: row;

    & > .xloc-sidebar {
      flex: 0 0 250px;
    }
  }


}



  a.button {
    background: $med-blue;
    margin-right: 10px;
    padding: 15px 65px;
    font-weight: 700;
    @include breakpoint(small only) {
    width: 100%;
    margin-bottom: 5px;

    }
    &.secondary {
      background: $navy;
    }
    &.alert {
      background: $orangish;
    }
    &.warning {
      background: $dark-gray;
    }
  }
