.xloc-string-buttons {
  padding: 30px 15px;
  .button {
    margin: 0 5px;
    padding: 15px 0;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}