.xloc-page-content {
  background: $light-gray;
}

.xloc-string-results-header {
  height: 56px;
  .title {
    h6 {
      color: $black;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      @include breakpoint(small only) {
        font-size: 17px;
      }
    }
  }
  .pagination {
    margin: 0;
    padding: 0;
  }
}

.xloc-string-results-subheader {
  background: $light-gray;
  .title {
    h2 {
      color: $black;
      font-size: 20px;
      font-weight: 700;
      margin: 20px;
    }
  }
}

ul.xloc-subheader-pagination.menu {
  display: flex;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
  }

  a {
    margin: 0;
    padding: 0;

    &.active {
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
    }
  }

  a.first,
  a.last,
  a.prev,
  a.next {
      //padding: .7rem .5rem;
  }

  a.active {
    color: white;
    background: $med-blue;
    border-radius: 50%;
  }
}

.basic {
  background: white;
}

.xloc-results {
  padding: 0 15px;
}

.header.row {
  background: white;
  padding: 12px;
  &.row {
    max-width: 100%;
  }

  h4 {
    color: $black;
    font-weight: 600;
  }

  .title {
    padding-left: 80px;
    @include breakpoint(small only) {
      padding-left: 0;
    }
  }

  .source {
    padding-left: 30px;
  }
}

.article.row.align-middle {
  background: $lighter-gray;
  max-width: 100%;
  p {
    margin-top: 15px;
  }

}

.article.row.align-middle:nth-child(odd) {
  background: white;
  max-width: 100%;
}

.xloc-string-results {
  background: white;
  margin: 0 20px;
  .label {
    background: white;
    padding: 0 10px 11px 0;
  }
}

.xloc-string-meta {
  padding-top: 20px;
  h6 {
    font-weight: 700;
  }
  label {
    font-weight: 700;
  }
}

.column.shrink.label {
  h6 {
    font-weight: 700;
  }
}

.xloc-string-content {
  h6 {
    font-weight: 700;
  }
}

.additional-flags-container {
  h6 {
    font-weight: 700;
  }
}

.additional-flags {
  padding-left: 103px;
  @include breakpoint(large down) {
    padding-left: 0;
  }
}

.priority-source-files-titles {
  label {
    font-weight: 700;
  }
}

.xloc-string-results-content {

  width: 100%;
  display: block;

  @include breakpoint(medium up){
    width: 80%;
  }

  @include breakpoint(xlarge up){
    width: 66%;
  }

}