<ul class="xloc-language-subheader">
    <li><a href="#">French</a></li>
    <li class="active"><a href="#">German</a></li>
    <li><a href="#">Italian</a></li>
    <li><a href="#">Japanese</a></li>
    <li><a href="#">Russian</a></li>
    <li><a href="#">Spanish</a></li>
    <li><a href="#">Dutch</a></li>
</ul>