<ul class="xloc-sidebar-menu">
    <li><a href="#">Projects</a> <i class="icon-dd-indicator"></i></li>
    <li class="open"><a href="#">Strings</a> <i class="icon-dd-indicator"></i>
        <ul>
            <li><a href="#">Localized Changes</a></li>
            <li><a href="#">Mass Priority</a></li>
            <li><a href="#">Language Find / Replace</a></li>
            <li><a href="#">Addl. Flags</a></li>
        </ul>
    </li>
    <li><a href="#">Source Assets</a> <i class="icon-dd-indicator"></i></li>
    <li><a href="#">Rebuild Assets</a> <i class="icon-dd-indicator"></i></li>
    <li><a href="#">Populate Strings</a> <i class="icon-dd-indicator"></i></li>
    <li><a href="#">Change Log</a> <i class="icon-dd-indicator"></i></li>
    <li><a href="#">String Populate NEW</a> <i class="icon-dd-indicator"></i></li>
    <li><a href="#">Writer Review</a> <i class="icon-dd-indicator"></i></li>
    <li><a href="#">Addl. Flags</a> <i class="icon-dd-indicator"></i></li>
</ul>