<ul class="xloc-subheader-menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">QA</a></li>
    <li><a href="#">Developer</a></li>
    <li class="active"><a href="#">Producer</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Q&A</a></li>
    <li><a href="#">Tools</a></li>
    <li><a href="#">User-Profile</a></li>
    <li><a href="#">Supervisor</a></li>
    <li><a href="#">Manager</a></li>
</ul>