<div class="home">
    <h2>Welcome!</h2>
    <ul>
        <li><a href="{{root}}results.html">Results</a></li>
        <li><a href="{{root}}string-results.html">String Results</a></li>
    </ul>
</div>