{{> language-subheader }}

{{> string-results-subheader }}


<div class="xloc-results">

    <div class="header row">
        <div class="icons"></div>
        <div class="title column">
            <h4>Resource ID</h4>
        </div>
        <div class="source column">
            <h4>Source</h4>
        </div>
    </div>

    {{#repeat 12}}
    <div class="article row align-middle">
        <div class="icons columns shrink">
            <i class="icon-pencil"></i>
            <i class="icon-lock"></i>
        </div>
        <div class="title columns">
            <p>A_CRITICAL_COMPONENT</p>
        </div>
        <div class="source columns">
            <p>Lorem Ipsum dolor sit amet.</p>
        </div>
    </div>
    {{/repeat}}


</div>