{{> language-subheader }}
{{>string-results-subheader-title}}

<div class="xloc-string-results align-center clearfix">

    <div class="xloc-string-results-content">

        <div class="row xloc-string-meta">
            <div class="medium-8 columns">

                <h6>ID: 29-82-ac-something</h6>

                <div class="row">
                    <div class="label columns shrink align-self-middle">
                        <h6>String Order #:</h6>
                    </div>
                    <div class="columns answer">
                        <input type="text" placeholder="String Order # Here">
                    </div>
                </div>

                <div class="row">
                    <div class="label columns shrink align-self-middle">
                        <h6>String ID:</h6>
                    </div>
                    <div class="columns answer">
                        <input type="text" placeholder="String ID Here">
                    </div>
                </div>

            </div>
            <div class="medium-4 columns">
                <label for="">Projects</label>
                <select>
                    <option value="all">All</option>
                </select>

                <label for="">Last String ID</label>
                <select>
                    <option value="all">All</option>
                </select>
            </div>
        </div>

        <div class="row xloc-string-content medium-12 columns">
            <div class="columns">

                <h6>Source:</h6>
                <div class="xloc-string-source">
                    <textarea name="source-textbox" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="columns">
                <h6>Notes:</h6>
                <div class="xloc-string-source">
                    <textarea name="notes-textbox" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

        </div>

        <div class="row xloc-string-additional">
            <div class="medium-8 columns">
                <div class="row">
                    <div class="column shrink label">
                        <h6>Reference Files:</h6>
                    </div>
                    <div class="column answer">
                        <p></p>
                    </div>
                </div>


                <div class="row additional-flags-container">
                    <div class="column label small-12">
                        <h6>Additional Flags:</h6>
                    </div>
                    <div class="additional-flags column">
                        <div class="row">
                            <div class="column shrink label">
                                <p>Voice:</p>
                            </div>
                            <div class="column answer">
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column shrink label">
                                <p>Recording Format:</p>
                            </div>
                            <div class="column answer">
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column shrink label">
                                <p>Sound Dev Info:</p>
                            </div>
                            <div class="column answer">
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column shrink label">
                                <p>Full Width Info:</p>
                            </div>
                            <div class="column answer">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="priority-source-files-titles medium-4 columns">
                <label for="">Priority</label>
                <select name="" id="">
                    <option value="none">None</option>
                </select>

                <label for="">Source File</label>
                <select name="" id="">
                    <option value="none">None</option>
                </select>
            </div>

        </div>

        <div class="row xloc-string-buttons align-center">

            <a href="#" class="button column">Update</a>
            <a href="#" class="button secondary column">Cancel</a>
            <a href="#" class="button alert column">Delete</a>
            <a href="#" class="button warning column">Copy</a>


        </div>

    </div>

</div>