<div class="row expanded xloc-header">
    <div class="columns xloc-page-title">
        <h1><i class="icon-xloc-logo"></i> Call of Duty : Modern Warfare</h1>
    </div>
    <div class="columns xloc-user-info shrink">
        <h2><i class="icon-profile"></i>Hello, Username | <a href="#">Logout</a></h2>
    </div>
</div>
<div class="row expanded xloc-subheader column">
    {{>subheader-menu}}
</div>

{{>mobile-menus}}