<div class="xloc-mobile-menu-trigger row">
    <div class="column text">
        <p>View Menus</p>
    </div>
    <div class="column shrink icon">
        <i class="icon-menu"></i>
    </div>
</div>

<div class="xloc-mobile-menus row expanded align-middle align-justify">

    <div class="column header-menu clearfix">
        <p>Header Menu</p>
        <i class="icon-drowdown"></i>
        {{>subheader-menu}}
    </div>

    <div class="column sidebar-menu clearfix">
        <p>Sidebar Menu</p>
        <i class="icon-drowdown"></i>
        {{>sidebar-menu}}
    </div>

    <div class="column language-menu clearfix">
        <p>Language Menu</p>
        <i class="icon-drowdown"></i>
        {{>language-menu}}
    </div>

</div>