<div class="pagination columns shrink">
    <ul class="xloc-subheader-pagination menu">
        <li><a href="#" class="first">&laquo;</a></li>
        <li><a href="#" class="prev">&lsaquo;</a></li>
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" class="next">&raquo;</a></li>
        <li><a href="#" class="last">&rsaquo;</a></li>
    </ul>
</div>
