{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-LOC Static Code</title>
    <link rel="stylesheet" href="{{root}}assets/fonts/css/fontello.css">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
<div class="xloc-page-container">

{{> header}}
<div class="row collapse expanded xloc-content-container">
    <div class="columns xloc-sidebar">
        {{> sidebar }}
    </div>
    <div class="columns xloc-page-content">
        {{> body}}
    </div>
</div>
</div>



<script src="{{root}}assets/js/app.js"></script>
</body>
</html>